@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Press+Start+2P&family=Raleway:wght@300;400;700;800&family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", "Bebas Neue", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  
}

.dropdown {
  width: 250px;
  transition: all 400ms;
}

.choose_box {
  position: relative;
  border: 1px solid black;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  background-color: #f85f73;
}
.choose_box:hover{
  background-color: #b71c1c;
  color: rgb(205, 169, 50);

}

.dropdown .down_box {
  transform: scaleY(0);
  overflow: hidden;
  transition: all 500ms;
  text-align: center;
  transform-origin: top;
}

.dropdown.active .down_box {
  transform: scaleY(1);
}

.down_box a {
  display: block;
  font-size: 18px;
  background-color: #ddd;
  color: black;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;

}

.down_box a:hover{
  transform: scale(1.3);
  transition: all 500ms;
  background-color: #01579b;
  color: white;
}

